body {
    margin: 0px;
    background: #013A71;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
}

p {
    color: white;
    margin: 8px;
}

span {
    margin: 0 75px;
    font-size: 1.3em;
}

#world {
    margin: 0px;
    background: #013A71;
    overflow: hidden;
}

#logo {
    position: relative;
    top: 60px;
    color: #ef7c91;
    font-size: 1.2em;
    -webkit-text-shadow: 0px 3px 0px #ec4141;
    -moz-text-shadow: 0px 3px 0px #ec4141;
    text-shadow: 0px 3px 0px #ec4141;
}

#dashboard {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%)
}

#level,
#score {
    color: white;
    font-size: 30px;
}

#play {
    position: absolute;
    width: 500px;
    height: 200px;
    background-color: gray;
    opacity: 0.75;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#gameover {
    position: absolute;
    width: 500px;
    height: 200px;
    background-color: gray;
    opacity: 0.75;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.scoreboard {
    color: #ef7c91;
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2em;
    -webkit-text-shadow: 0px 3px 0px #ec4141;
    -moz-text-shadow: 0px 3px 0px #ec4141;
    text-shadow: 0px 3px 0px #ec4141;
}

button[name=start] {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    width: 280px;
    color: #FFF;
    display: block;
    text-decoration: none;
    margin: 0 auto;
    border: solid 1px #f79472;
    background: #f79472;
    text-align: center;
    padding: 10px 30px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0px 9px 0px #e6805c;
    -moz-box-shadow: 0px 9px 0px #e6805c;
    box-shadow: 0px 9px 0px #e6805c;
}

button[name=start]:active {
    -webkit-box-shadow: 0px 2px 0px #e6805c;
    -moz-box-shadow: 0px 2px 0px #e6805c;
    box-shadow: 0px 2px 0px #e6805c;
}

button[name=start]:focus {
    outline: 0;
}

button[name=restart] {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    width: 380px;
    color: #FFF;
    display: block;
    text-decoration: none;
    margin: 0 auto;
    border: solid 1px #f79472;
    background: #f79472;
    text-align: center;
    padding: 10px 30px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0px 9px 0px #e6805c;
    -moz-box-shadow: 0px 9px 0px #e6805c;
    box-shadow: 0px 9px 0px #e6805c;
}

button[name=restart]:active {
    -webkit-box-shadow: 0px 2px 0px #e6805c;
    -moz-box-shadow: 0px 2px 0px #e6805c;
    box-shadow: 0px 2px 0px #e6805c;
}

button[name=restart]:focus {
    outline: 0;
}


/* character board */

#character-board {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#character-board p {
    color: #013A71;
    text-align: center;
}

.choices {
    color: #013A71;
    text-align: center;
    width: 350px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: -30%;
    top: 450%;
}

.choices div {
    cursor: pointer;
}


/* score of the round div */

#current-score {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#current-score h3 {
    margin: 15px auto;
    text-align: center;
    font-size: 7em;
    -webkit-text-shadow: 0px 3px 0px #ec4141;
    -moz-text-shadow: 0px 3px 0px #ec4141;
    text-shadow: 0px 3px 0px #ec4141;
    color: #ef7c91;
}

#current-score button {
    margin: 10px;
}

button[name=scoreboard],
button[name=leaderboard] {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    width: 380px;
    color: #FFF;
    display: block;
    text-decoration: none;
    margin: 0 auto;
    border: solid 1px #f79472;
    background: #f79472;
    text-align: center;
    padding: 10px 30px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0px 9px 0px #e6805c;
    -moz-box-shadow: 0px 9px 0px #e6805c;
    box-shadow: 0px 9px 0px #e6805c;
}

button[name=leaderboard]: active,
button[name=scoreboard]: active {
    -webkit-box-shadow: 0px 2px 0px #e6805c;
    -moz-box-shadow: 0px 2px 0px #e6805c;
    box-shadow: 0px 2px 0px #e6805c;
}

button[name=leaderboard]:focus,
button[name=scoreboard]:focus {
    outline: 0;
}


/* sign in wrapper */

#signin-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#my-signin button {
    margin: 20px;
}

button[name=restart2] {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    width: 380px;
    color: #FFF;
    display: block;
    text-decoration: none;
    margin: 0 auto;
    border: solid 1px #f79472;
    background: #f79472;
    text-align: center;
    padding: 10px 30px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0px 9px 0px #e6805c;
    -moz-box-shadow: 0px 9px 0px #e6805c;
    box-shadow: 0px 9px 0px #e6805c;
}

button[name=restart2]:active {
    -webkit-box-shadow: 0px 2px 0px #e6805c;
    -moz-box-shadow: 0px 2px 0px #e6805c;
    box-shadow: 0px 2px 0px #e6805c;
}

button[name=restart2]:focus {
    outline: 0;
}


/* leaderboard */

leaderboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 90%;
    width: 50%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

td {
    padding-left: 20px;
    padding-right: 20px;
    -webkit-text-shadow: 0px 1.5px 0px #ec4141;
    -moz-text-shadow: 0px 1.5px 0px #ec4141;
    text-shadow: 0px 1.5px 0px #ec4141;
    color: #ef7c91;
}

td > img {
    padding-top: 10px;
    padding-bottom: 10px;
}

#leaderboard-header {
    font-size: 3em;
    -webkit-text-shadow: 0px 6px 0px #ec4141;
    -moz-text-shadow: 0px 6px 0px #ec4141;
    text-shadow: 0px 6px 0px #ec4141;
    color: #ef7c91;
}
